In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [2]:
# Создаём сэмпл дата сет по информации по цене домов, возрасту домов, кол-во комнат, площади, кол-ву этажей, и колву окон
n_samples = 700

home_age = np.random.choice(90, n_samples) + 10 # возраст дома
room_number = np.random.choice(5, n_samples) + 3 #кол-во комнат
area = np.random.choice(1000, n_samples) + 200 # площадь дома
q_levels = np.random.choice(15, n_samples) + 5 #кол-во этажей
windows = np.random.choice(4, n_samples) +10 #кол-во окон

price = area * home_age  + room_number 

data = pd.DataFrame({'home_age': home_age, 'room_number': room_number, 'area': area, 'price': price, 'q_levels':q_levels,
                     'windows': windows})
data.head(5)

   home_age  room_number  area  price  q_levels  windows
0        79            4  1032  81532        10       12
1        73            6   203  14825         5       12
2        45            6   800  36006        12       10
3        22            7   828  18223        16       10
4        25            7   231   5782         9       11

In [3]:
#подставляем все параметры в нашу модель для предсказания цены.

from sklearn.metrics import mean_absolute_error

X = data[['home_age', 'room_number', 'area', 'q_levels', 'windows']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['home_age', 'room_number', 'area', 'q_levels', 'windows']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 703.01309174 -151.4183922    54.7898664   -14.55250565  388.49464348]
Bias: -42012.61800335522
Error: 5578.765980804988

Видим, что ошибка очень большая. 5тыс руб на среднюю цену 37 тыс руб.

In [4]:
y.mean()

38526.66714285714

In [5]:
#уберем лишние параметры. кол-во окон и этажей
from sklearn.metrics import mean_absolute_error

X = data[['home_age', 'room_number', 'area']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['home_age', 'room_number', 'area']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 702.99723828 -164.21978433   54.73570212]
Bias: -37598.66578544189
Error: 5575.108015438207

Ошибка особо не поменялась, потому что кол-во этажей и окон не влияет на цену дома в нашей моделе

In [6]:
# Создаем новый линейный признак
data['mult'] = data['home_age'] * data['area'] + data['room_number']
data.head(5)

   home_age  room_number  area  price  q_levels  windows   mult
0        79            4  1032  81532        10       12  81532
1        73            6   203  14825         5       12  14825
2        45            6   800  36006        12       10  36006
3        22            7   828  18223        16       10  18223
4        25            7   231   5782         9       11   5782

In [7]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1.]
Bias: 1.0186340659856796e-10
Error: 5.482109242750864e-11

In [8]:
y.mean()

38526.66714285714

Теперь так как у нас модель полностью линейная, то велечина ошибки минимальная